body{
    background-color: rgb(206, 178, 214); 
}
.filter{
    display: flex;
}

p{
    border: 3px solid #656768;
    display: flex;
    flex-direction: column;

}

li{
    display: flex;
    justify-content: space-between;
    border: 1px solid #545758;
}



